<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>ダミーinput画面</title>
		<script>
		function postData() {
			// JSONデータ
			var jsonData = {
			"name": "Miyuu",
			"age": "secret"
		};
		// POSTリクエストを送信するための設定
		var xhr = new XMLHttpRequest();
		var url = "https://createqrcode-test.onrender.com"; // POST先のエンドポイントを指定
		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-Type", "application/json");
		
		// リクエスト完了時の処理
		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4 && xhr.status === 200) {
				// レスポンスをログに出力
				console.log(xhr.responseText);
				}
			};
			
		// JSONデータを文字列に変換して送信
		var data = JSON.stringify(jsonData);
		xhr.send(data);
		}
		</script>
	</head>
	<body>
		<h2>JSONがPOST送信されてQRコードがアップされる</h2>
			<div>
				<button onclick="postData()">create QRcode!</button>
			</div>
	</body>
</html>
