<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>TOP：{{ title }}</title>
	</head>
	<body>
		<form method="POST" action="/">
			<div>
				<label>Enter any text （POST）：</label>
				<input type="text" name="miyuu" required />
			</div>
			<div>
				<input type="submit" value="create QRcode!"  formaction="http://127.0.0.1:5000/" />
			</div>
		</form>
		<form method="GET" action="/result">
			<div>
				<label>Enter any text （GET）：</label>
				<input type="text" name="miyuu" required />
			</div>
			<div>
				<input type="submit" value="create QRcode!" />
			</div>
		</form>
	</body>

</html>
